/* INDEX.HTML */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
/* FONTS */
    $roboto: 'Roboto', sans-serif; /* Parrafos */
    $rubik: 'Rubik', sans-serif; /* Titulos y navLinks  */
    $oswald: 'Oswald', sans-serif;
    $impact: Impact,'Arial Narrow Bold', sans-serif; /* listas de cuentas  */
/* COLORS */
    $color1: #001f3b; /* fondo general */
    $color2: #041d30; /* Fondo de sections azules */
    $color3: #ff3c00; /* Fondo de sections/1erTitulo naranjas */
    $color4: #02101b; /* fondo header y footer */


/*----------------------- TEXTOS-----------------------*/  
    
h1{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: $color3;
    font-size: 30px;
    font-family: $rubik;
    color: white;
    letter-spacing: 5px;
    text-transform: uppercase;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;

}
h2{
    font-size: 25px;
    font-family: $rubik;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}
p{
    font-size: 25px;
    font-family: $roboto;
    margin: 50px;
    color: black;
}
p span{
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-family: $rubik;
    -webkit-text-stroke-width: 1.2px;
    -webkit-text-stroke-color: rgb(0, 0, 0);

}
h5{
    font-family: $impact;
    color: rgb(22, 21, 21);
}

/*----------------------- GRID AREA-----------------------*/    

.bodydiv {
    display: grid;
    background-color: $color1;
    grid-template-columns: 1fr;
    gap: 5px 0px;
    grid-template-rows: auto 0.6fr 0.4fr auto 0.2fr auto auto 1fr 0.2fr;
    grid-template-areas: 
      "header"
      "hero"
      "section0"
      "section1"
      "section2"
      "section3"
      "section4"
      "section5"
      "footer";
    }

body{
    background-color: $color1;
    width: 100vw;
}
main{
    background-color: $color1;
}
.bodydiv{
    width: 100vw;
}
    

    /*----------------------- header -----------------------*/


.header{
    grid-area: header;
    display: flex;
    background-color: $color4;
    flex-direction: column;
    align-items: center;
}
header img{
    background-image: url(../multimedia/images/logo\ influteniente.png);
    background-size: cover;
    max-height: 200px;
    max-width: 200px;
}
        /*----------------------- NAVBAR-----------------------*/
.navbar-brand{
    margin: 20px;
}
.navbar ul{
    list-style: none;
}
.navbar ul li a{
    text-transform: uppercase;
    font-family: $rubik;
    color: #ffffff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(48, 47, 46);
    margin: 20px;
}
.navbar ul li a:hover{
    transition: all 0.5s;
    color: #ffffff;
    transform: scale(1.15);
}
        /*------------------------ HERO -------------------------*/
.hero{
    grid-area: hero;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color2;
}
.hero img{
    max-width: 100%;
}
        /*----------------------- SECTION0-----------------------*/

.section0{
    grid-area: section0;
    display: flex;
    background-color: $color2;
    width: 100vw;
    align-items: center;
    flex-direction: column;
}
.section0 div{
    margin: 20px;
    display: flex;
    align-items: center;
}

.card{
    display: flex;
    flex-direction: column;
    height: 23rem;
    width: 15rem;
    margin: 10px;
}
.card div{
    display: flex;
    flex-direction: column;
}
.card img{
    max-width: 200px;
}
        /*----------------------- SECTION1-----------------------*/


.section1{
    grid-area: section1;
    width: 100vw;
    background-color: $color3;
    display: flex;
    flex-direction: column;
    padding: 5%;
}


        /*----------------------- SECTION2-----------------------*/


.section2{
    grid-area: section2;
    width: 100vw;
    background-color: $color2;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.section2 div{
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.card2{
    display: flex;
    flex-direction: column;
    height: 20rem;
    width: 15rem;
    margin: 10px;
    background-color: #ffffff;
}
.card2 img{
    max-width: 200px;
}

.section2 h2{
    display: flex;
    align-items: center;
    margin: 10px;
}


        /*----------------------- SECTION3-----------------------*/

.section3{
    grid-area: section3;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: $color3;
    padding: 5%;

}


        /*----------------------- SECTION4-----------------------*/

.section4{
    grid-area: section4;
    width: 100vw;
    background-color: $color3;
    display: flex;
    flex-direction: column;
    padding: 5%;
}

        /*----------------------- SECTION5-----------------------*/

.section5{
    grid-area: section5;
    display: flex;
    width: 100vw;
    background-color: $color2;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.section5 div{
    display: flex;
    flex-direction: row;
}
.section5 div div{
    height: 400px;
    width: 300px;
    margin: 30px;
}
.section5 div div:hover{
    transition: all 1s;
    transform: scale(1.11);
}
.section5 h2{
    align-self: center;
}




/* --------------- ../PAGES --------------- */ /* --------------- GRIDS2.0 --------------- */


/* --------------- SECTION 1 TW E IG ----------------------------------------------------- */
.igtwsections {  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.4fr 0.3fr auto auto ;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "section1pages section1pages"
        "igtwsection2 igtwsection3"
        "igtwsection4 igtwsection4"
        "igtwsection5 igtwsection5";
  }
  

.igtwsection1{
    grid-area: section1pages;
    display: flex;
    width: 100vw;
    background-color: $color2;
    justify-content: center;
    flex-direction: column;
}
.igtwsection1 div{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.cardIgTw{
    display: flex;
    flex-direction: column;
    height: 23rem;
    width: 15rem;
    margin: 10px;
}
.cardIgTw div{
    display: flex;
    flex-direction: column;
    max-height: 20px;
}
.cardIgTw img{
    max-width: 200px;
}
/* --------------- SECTION 2 ------------------------------------------------------ */

.igtwsection2 { 
    grid-area: igtwsection2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    justify-content: center;
    background-color: $color2;

}   


.igtwsection2 div{
    width: 90%;
}

/* --------------- SECTION 3 ------------------------------------------------------ */

.igtwsection3 { 
    grid-area: igtwsection3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    justify-content: center;
    background-color: $color2;
}
.igtwsection3 div{
    width: 90%;
}

/* --------------- SECTION 4 ------------------------------------------------------ */
.igtwsection4 ::-webkit-scrollbar{
    display: none;
}
.igtwsection4 { 
    grid-area: igtwsection4;
    display: flex;
    width: 100vw;
}
.igtwsection4titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 5%;
    background-image: url(../multimedia/images/fondosection1.png);
    background-size: cover;

}
.igtwsection4parrafo{
    padding: 2%;
    width: 50%;
    background-color: $color3;
}
.igtwsection4parrafo nav{
    display: flex;
    justify-content: center;
}
.igtwsection4parrafo div{
    position: relative;
    overflow-y: scroll;
    max-height: 400px;
}
/* --------------- SECTION 5 ------------------------------------------------------ */
.igtwsection5 ::-webkit-scrollbar{
    display: none;
}
.igtwsection5 {
    grid-area: igtwsection5;
    display: flex;
    flex-direction: row-reverse;
    width: 100vw;
    background-color: $color3;
}
.igtwsection5titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 5%;
    background-image: url(../multimedia/images/fondosection2.png);
    background-size: cover;
}
.igtwsection5parrafo{
    width: 50%;
    background-color: $color3;
    padding: 2%;
}
.igtwsection5parrafo div{
    position: relative;
    overflow-y: scroll;
    max-height: 400px;
    
}



/*---------------------------------- CONTACTO.HTML ----------------------------------*/


/*-------------- FORM ------------------*/
.contenedorForm{
    display: flex;
    width: 100vw;
    padding: 10px;
    margin-top: 10px;
    background-color: $color2;
}
form{
    display: flex;
    flex-direction: column;
}
form div{
    display: flex;
}
form div label{
    text-transform: uppercase;
    width: 500px;
    color: whitesmoke;
}
form div input{
    display: flex;
    justify-content: left;
}
form button{
    max-height: 100px;
}
/*-------------- SECTION1 contacto ------------------*/
.nsection1{
    background-color: $color2;
    display: flex;
    justify-content: center;
    width: 100vw;
    min-height: 500px;
}
.carousel{
    padding: 50px;
    width: 600px;
    height: 300px;
}
    /*----------------------- RECOMENDADO.HTML -----------------------*/

.recomendadomain{
    background-color: $color2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.recomendadomain section{
    display: flex;
    flex-direction: row;
}
.recomendadomain section div{
    margin: 10px;
}



    /*----------------------- FOOTER -----------------------*/

.footer{
    grid-area: footer;
    background-color: $color4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    width: 100vw;
}
.footer ul{
    list-style: none;
}
.footer ul li a{
    color: floralwhite;
    text-decoration: wavy;
    font-family: $oswald;
    text-transform: uppercase;

}
.footer ul li a:hover{
    transition: all 0,2;
    color: rgb(235, 88, 88);

}
.footer div{
    display: flex;

}
.footer div a{
    margin: 5px;
    height: 40px;
    width: 40px;
    
}
.igicon{
    background-image: url(../multimedia/images/logoig.png);
    background-size: cover;

}
.twicon{
    background-image: url(../multimedia/images/logotw.png);
    background-size: cover;
}
.wpicon{
    background-image: url(../multimedia/images/logowp.png);
    background-size: cover;
}

    /*---------------------------------- MEDIA QUERIES -----------------------------------*/
  
@media (max-width: 1180px) {
    .recomendadomain section{
        flex-direction: column;
    }
}    
 
@media (max-width: 1080px) {
    .section5 div{
        flex-direction: column;
    }
}

@media (max-width: 1020px) {

    .igtwsection1 div{
        flex-direction: column;
    }

    .section1{
        align-items: center;
        padding: 10px ;
        justify-content: center;
    }

    .section3{
        align-items: center;
        padding: 10px ;
        justify-content: center;
    }
    .section4{
        align-items: center;
        padding: 10px ;
        justify-content: center;
    }

}

@media (max-width: 920px){

    .section0 div{
        flex-direction: column;
     }
     
     .section2{
        flex-direction: column;
        align-items: center;
    }

    .section2 div{
        flex-direction: column;
    }
}

@media (max-width: 650px) {
    .igtwsections {  
        display: grid;
        grid-template-areas:
        "section1pages"
        "igtwsection2"
        "igtwsection3"
        "igtwsection4"
        "igtwsection5"
        ;
    }

    .recomendadomain section div iframe{
        max-width: 300px;
    }

}   

@media (max-width: 720px){
    .header div nav{

        flex-direction: column;
    }
}

@media (max-width: 400px){
    .footer{
        justify-content: center;
    }
    .footer div{
        flex-direction: column;
        margin-left: 20px;
    }
}