/* FONTS */
$roboto: 'Roboto', sans-serif; /* Parrafos */
$rubik: 'Rubik', sans-serif; /* Titulos y navLinks  */
$oswald: 'Oswald', sans-serif;
$impact: Impact,'Arial Narrow Bold', sans-serif; /* listas de cuentas  */
$herofont: 'Alfa Slab One', cursive; /* Fuente del hero */
/* COLORS */
$color1: #001f3b; /* fondo general */
$color2: #041d30; /* Fondo de sections azules */
$color3: #ff3c00; /* Fondo de sections/1erTitulo naranjas */
$color4: #02101b; /* fondo header y footer */

$colorigparrafo1: #ffffff00;
$colorigparrafo2: #ffffff00;
$fondosection4: url(/multimedia/images/fondosection3.png);